	<a href="/users/home">Home</a> > <a href="/properties">Properties</a> >
<h1><%= @property.address %></h1>

<strong>Description: </strong><%= @property.description %> <br>
<strong>Rent: </strong><%= @property.rent %> <br>

<div class="crud_options">
  <a class="edit_button" href="/properties/<%= @property.id %>/edit">Edit Property</a>


  <form action="/properties/<%= @property.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input class="delete_button" type="submit" value="Delete Property">
  </form>
</div>