	<a href="/users/home">Home</a> > <a href="/properties">Properties</a> >
<h1><%= @property.address %></h1>

<strong>Description: </strong><%= @property.description %> <br>
<strong>Rent: </strong><%= @property.rent %> <br>
<br>
<% if @property.tenant %>
    <h2> Current Tenant: </h2>
    <h3> Name: <%= @property.tenant.name%> </h3>
    <h3> Age: <%= @property.tenant.age%> </h3>
    <h3> Occupation: <%= @property.tenant.occupation%> </h3>
    <br>
<% else %>
    <p>This property currently does not have a tenant, select "Edit Propert" below to add a tenant.</p>
<% end %>



<div class="crud_options">
  <a class="edit_button" href="/properties/<%= @property.id %>/edit">Edit Property</a>


  <form action="/properties/<%= @property.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input class="delete_button" type="submit" value="Delete Property">
  </form>
</div>